<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><?php echo (isset($this->page_title)) ? $this->page_title : 'Welcome to our site'; ?></title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <div class="nav">
        <ul>
            <li class="home"><a class="<?php echo ($this->getAction() == 'index') ? 'active' : '' ?>" href="/">Home</a></li>
            <li class="tutorials"><a class="<?php echo ($this->getAction() == 'aboutUs') ? 'active' : '' ?>" href="/Home/aboutUs">About Us</a></li>
        </ul>
    </div>
