body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.nav ul {
    list-style: none;
    background-color: #3385ff;
    text-align: left;
    /*padding: 0;*/
    margin: 0;
    padding-right: 25px;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #80b3ff;
}

.nav a.active {
    background-color: #80b3ff;
    color: #fff;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}
 